@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

.main {
    display: inline-block;
    margin: 1%;
    margin-right: 30%;
}

.fade {
    font-family: 'Open Sans', sans-serif;
    margin-top: 25%;
    text-align: center;
    transform: opacity 0.1s;
    font-size: 72px;
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.down {
    display: inline-block;
    margin-top: 100%;
}